Repository rossigee/provider-signoz: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: ['--timeout=10m']

  - repo: local
    hooks:
      - id: check-binaries
        name: Check for binary files
        entry: bash -c 'find . -type f -executable -exec file {} \; | grep -E "ELF|executable|binary" | grep -v "\.git" && exit 1 || exit 0'
        language: system
        pass_filenames: false
      
      - id: go-mod-tidy
        name: Go mod tidy
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-generate
        name: Go generate
        entry: make generate
        language: system
        files: '\.go$'
        pass_filenames: false

chore: unify skip-duplicate-actions at floating v5
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

Add missing REGISTRY_ORGS for images
  Makefile
Due: none

Migrate to Crossplane v2 namespaced APIs
  docs/configuration.md
  docs/development.md
  docs/getting-started.md
  docs/index.md
Due: none

Sweep pre-v2 references, fix package meta API, document coverage
  docs/index.md
  examples/complete-setup.yaml
  internal/controller/providerconfig/providerconfig.go
  package/crossplane.yaml
Due: go-generate

fix: update codecov action parameter from file to files
  .github/workflows/ci.yml
Due: none

chore(ci): bump GitHub Actions to latest major versions
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix: standardize release.yml on canonical single-job template
  .github/workflows/release.yml
Due: none

fix: standardize release.yml on canonical single-job template (#6)
  .github/workflows/release.yml
Due: none

fix: add missing build step to release.yml
  .github/workflows/release.yml
Due: none

fix: add missing build step to release.yml (#7)
  .github/workflows/release.yml
Due: none

fix: add explicit xpkg.build step before publish
  .github/workflows/release.yml
Due: none

chore: normalize workflows to 2026-09-08 templates + publishing overrides
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Makefile
Due: none

fix: align security.yml to current template (Go 1.27.1 + AGPL-3.0)
  .github/workflows/security.yml
Due: none

chore: normalize CI/release workflows + xpkg publishing overrides (#8)
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  Makefile
Due: none

fix(ci): remove nonexistent make docker.build from build-validation
  .github/workflows/ci.yml
Due: none

fix(ci): remove nonexistent make docker.build from build-validation (#9)
  .github/workflows/ci.yml
Due: none

chore(deps): bump Crossplane APIs fork
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): bump Crossplane APIs fork (#10)
  go.mod
  go.sum
Due: go-mod-tidy

chore: standardize release workflow and prepare for v0.6.4
  .github/workflows/release.yml
  CHANGELOG.md
  Makefile
  README.md
  VERSION
  cluster/images/provider-signoz/Makefile
  docs/configuration.md
  docs/development.md
  docs/getting-started.md
  internal/version/version.go
  package/crossplane.yaml
  scripts/release.sh
Due: go-generate

chore: apply standardized release workflow template
  .github/workflows/release.yml
Due: none

chore: apply standardized release workflow template (#11)
  .github/workflows/release.yml
Due: none

fix(dashboard): adopt an existing dashboard by name when external-name is lost
  internal/clients/signoz.go
  internal/clients/signoz_test.go
  internal/controller/dashboard/dashboard.go
Due: go-generate

fix(dashboard): adopt an existing dashboard by name when external-name is lost (#12)
  internal/clients/signoz.go
  internal/clients/signoz_test.go
  internal/controller/dashboard/dashboard.go
Due: go-generate

chore(release): prepare v0.6.5
  CHANGELOG.md
  Makefile
  README.md
  VERSION
  cluster/images/provider-signoz/Makefile
  docs/configuration.md
  docs/development.md
  docs/getting-started.md
  internal/version/version.go
  package/crossplane.yaml
  scripts/release.sh
Due: go-generate

chore(release): prepare v0.6.5 (#13)
  CHANGELOG.md
  Makefile
  README.md
  VERSION
  cluster/images/provider-signoz/Makefile
  docs/configuration.md
  docs/development.md
  docs/getting-started.md
  internal/version/version.go
  package/crossplane.yaml
  scripts/release.sh
Due: go-generate

fix(dashboard): match SigNoz's slug of the title when adopting by name
  CHANGELOG.md
  VERSION
  internal/clients/signoz.go
  internal/clients/signoz_test.go
  internal/controller/dashboard/dashboard.go
  internal/version/version.go
  package/crossplane.yaml
Due: go-generate

fix(dashboard): match SigNoz's slug of the title when adopting by name (#14)
  CHANGELOG.md
  VERSION
  internal/clients/signoz.go
  internal/clients/signoz_test.go
  internal/controller/dashboard/dashboard.go
  internal/version/version.go
  package/crossplane.yaml
Due: go-generate

fix(dashboard): persist the id found when adopting by name
  CHANGELOG.md
  VERSION
  internal/controller/dashboard/dashboard.go
  internal/version/version.go
  package/crossplane.yaml
Due: go-generate

fix(dashboard): persist the id found when adopting by name (#15)
  CHANGELOG.md
  VERSION
  internal/controller/dashboard/dashboard.go
  internal/version/version.go
  package/crossplane.yaml
Due: go-generate

test(dashboard): cover the adoption path in Observe
  internal/controller/dashboard/observe_test.go
Due: go-generate

test(dashboard): cover the adoption path in Observe (#16)
  internal/controller/dashboard/observe_test.go
Due: go-generate

docs(alert): correct inverted guidance on the rule evaluation block
  internal/clients/signoz.go
  internal/controller/alert/alert.go
Due: go-generate

docs(alert): correct inverted guidance on the rule evaluation block (#17)
  internal/clients/signoz.go
  internal/controller/alert/alert.go
Due: go-generate

fix: implement DeleteDashboardV2 and add ProviderConfig tests
  internal/clients/signoz.go
  internal/clients/signoz_test.go
  internal/controller/dashboard/dashboard.go
  internal/controller/providerconfig/providerconfig_test.go
Due: go-generate

docs: update README and CHANGELOG for v0.6.8 release
  CHANGELOG.md
  README.md
Due: none
