Repository rossigee/provider-signoz: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

go-mod-tidy:
  name: Go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-generate:
  name: Go generate
  entry: make generate
  language: system
  pass_filenames: false

cluster/images/provider-signoz: fix Dockerfile COPY path (bin/ not _output/bin/)
  cluster/images/provider-signoz/Dockerfile
Due: none

Makefile: use CROSSPLANE_CLI_VERSION v2.3.3 (2.3.1 without v prefix returns 404)
  Makefile
Due: none

ci.yml: remove hardcoded docker tag (breaks when BUILD_REGISTRY suffix changes)
  .github/workflows/ci.yml
Due: none

build: update VERSION to v0.3.7
  VERSION
Due: none

ci: use HTTPS for build submodule (fix release workflow)
  .gitmodules
Due: none

ci: upgrade GitHub Actions to latest major versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

ci: fix release-action to v2 with allowUpdates (fix duplicate tag release creation)
  .github/workflows/release.yml
Due: none

Fix release-action to v1
  .github/workflows/release.yml
  cmd/provider/main.go
Due: go-generate

build: bump Go toolchain to 1.26.5
  .github/workflows/release.yml
  .github/workflows/security.yml
  go.mod
Due: go-mod-tidy

build: update Go dependencies
  go.mod
  go.sum
Due: go-mod-tidy

Bump deps.
  go.mod
  go.sum
Due: go-mod-tidy

fix: add core Kubernetes scheme registration for Crossplane v2 compatibility
  Makefile
  apis/alert/v1beta1/groupversion_info.go
  apis/channel/v1beta1/groupversion_info.go
  apis/dashboard/v1beta1/groupversion_info.go
  apis/v1beta1/groupversion_info.go
  cmd/provider/main.go
  go.mod
  internal/controller/controller.go
  internal/controller/providerconfig/providerconfig.go
  package/crds/alert.signoz.m.crossplane.io_alerts.yaml
  package/crds/channel.signoz.m.crossplane.io_notificationchannels.yaml
  package/crds/dashboard.signoz.m.crossplane.io_dashboards.yaml
  package/crds/signoz.m.crossplane.io_providerconfigs.yaml
  package/crds/signoz.m.crossplane.io_providerconfigusages.yaml
Due: go-mod-tidy, go-generate

fix: v2 dashboards, alerts use channel names, channels validate UUID; add imagepolicy
  apis/alert/v1beta1/types.go
  apis/alert/v1beta1/zz_generated.deepcopy.go
  apis/channel/v1beta1/types.go
  apis/channel/v1beta1/zz_generated.deepcopy.go
  apis/dashboard/v1beta1/types.go
  apis/dashboard/v1beta1/zz_generated.deepcopy.go
  apis/v1beta1/types.go
  apis/v1beta1/zz_generated.deepcopy.go
  cmd/provider/main.go
  go.mod
  internal/clients/signoz.go
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
  package/crds/alert.signoz.m.crossplane.io_alerts.yaml
  package/crds/channel.signoz.m.crossplane.io_notificationchannels.yaml
  package/crds/dashboard.signoz.m.crossplane.io_dashboards.yaml
  package/crds/signoz.m.crossplane.io_providerconfigs.yaml
  package/crossplane.yaml
Due: go-mod-tidy, go-generate

test: update tests for v2 dashboard API, string queryType, string channel ID; fix matchType string
  internal/clients/signoz_test.go
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
  internal/controller/channel/channel_test.go
  internal/controller/dashboard/dashboard_test.go
Due: go-generate

Release provider-signoz v0.3.61 (matchType as string in alert condition)
  package/crossplane.yaml
Due: none

docs: rewrite README to standard structure, add OCI labels
  README.md
  cluster/images/provider-signoz/Dockerfile
Due: none

chore: upgrade crossplane runtime to v2.4.0-rc.0
  go.mod
Due: go-mod-tidy

Fix null variables/layouts causing SigNoz frontend crash
  internal/controller/dashboard/dashboard.go
Due: go-generate

feat: defend against misconfigured ProviderConfig hammering SigNoz
  README.md
  cmd/provider/main.go
  internal/breaker/breaker.go
  internal/clients/backoff.go
  internal/clients/condition.go
  internal/clients/signoz.go
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/controller.go
  internal/controller/providerconfig/providerconfig.go
Due: go-generate

chore: bump VERSION to v0.3.62
  VERSION
Due: none

test: cover misconfiguration-defence primitives (breaker/backoff/condition/empty-key)
  internal/breaker/breaker.go
  internal/breaker/breaker_test.go
  internal/clients/backoff_test.go
  internal/clients/signoz_defence_test.go
Due: go-generate

Fix dashboard CR updates not being detected
  internal/controller/dashboard/dashboard.go
Due: go-generate

fix(dashboard): implement ClickHouse SQL query type in v2 conversion
  internal/controller/dashboard/dashboard.go
  internal/controller/dashboard/dashboard_test.go
Due: go-generate

fix: wire --enable-management-policies through to reconcilers
  VERSION
  apis/alert/v1beta1/zz_generated.deepcopy.go
  apis/channel/v1beta1/zz_generated.deepcopy.go
  apis/dashboard/v1beta1/zz_generated.deepcopy.go
  apis/v1beta1/zz_generated.deepcopy.go
  cmd/provider/main.go
  go.mod
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
  internal/controller/providerconfig/providerconfig.go
Due: go-mod-tidy, go-generate

fix(ci): remove stray allowUpdates line breaking release.yml YAML
  .github/workflows/release.yml
Due: none

fix(ci): publish a proper Crossplane xpkg instead of a plain Docker image
  .github/workflows/release.yml
Due: none

fix(ci): scope release build to linux_amd64 only
  .github/workflows/release.yml
Due: none

fix(alert): emit SigNoz v5 builder_query schema (builderQueries map, time/spaceAggregation, queryName/expression/stepInterval, deep condition diff)
  VERSION
  apis/alert/v1beta1/types.go
  apis/alert/v1beta1/zz_generated.deepcopy.go
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
  package/crds/alert.signoz.m.crossplane.io_alerts.yaml
Due: go-generate

fix(alert): emit SigNoz v5 QueryEnvelope schema accepted by rules API
  VERSION
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
Due: go-generate

fix(clients): handle UpdateRule success message response
  internal/clients/signoz.go
Due: go-generate

chore: bump version to v0.4.2
  VERSION
Due: none

fix(providerconfig): set lastTransitionTime on credentials condition
  internal/controller/providerconfig/providerconfig.go
Due: go-generate

chore: bump version to v0.4.3
  VERSION
Due: none

feat(alert): support raw v5 filter expression on builder queries
  apis/alert/v1beta1/types.go
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
  package/crds/alert.signoz.m.crossplane.io_alerts.yaml
Due: go-generate

chore: bump version to v0.4.4
  VERSION
Due: none

fix(alert): eliminate stepInterval churn and remove dead convertKeyAttribute
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
Due: go-generate

fix(dashboard): detect widget query drift in isDashboardV2UpToDate
  VERSION
  internal/controller/dashboard/dashboard.go
  internal/controller/dashboard/dashboard_test.go
Due: go-generate

fix(dashboard): pass through Variables to the SigNoz v6 API
  VERSION
  internal/controller/dashboard/dashboard.go
  internal/controller/dashboard/dashboard_test.go
Due: go-generate

fix(dashboard): detect variable drift in isDashboardV2UpToDate
  VERSION
  internal/controller/dashboard/dashboard.go
  internal/controller/dashboard/dashboard_test.go
Due: go-generate

Path conditions:
  go-mod-tidy: any of: go\.(mod|sum)$
  go-generate: any of: \.go$
