Repository rossigee/provider-signoz: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

go-mod-tidy:
  name: Go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-generate:
  name: Go generate
  entry: make generate
  language: system
  pass_filenames: false

Fix provider controller panic and Docker image issues
  cluster/images/provider-signoz/Dockerfile
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
  package/crossplane.yaml
Due: go-generate

Fix CI/CD configuration issues
  .github/workflows/ci.yml
  go.mod
Due: go-mod-tidy

Fix errcheck linting issues in test files
  internal/clients/signoz_test.go
Due: go-generate

Fix build system issues for CI/CD
  cluster/images/provider-signoz/Makefile
Due: none

Add xpkg build override for modern Crossplane CLI compatibility
  Makefile
Due: none

Fix CI build by adding Crossplane CLI dependency
  Makefile
Due: none

Remove Harbor registry and use only GitHub Container Registry
  .github/workflows/ci.yml
Due: none

Fix artifact upload and simplify CI pipeline
  .github/workflows/ci.yml
Due: none

Fix publish target by using correct registry variable
  .github/workflows/ci.yml
Due: none

Add missing img.publish target to image Makefile
  cluster/images/provider-signoz/Makefile
Due: none

Add binary build step to publish job
  .github/workflows/ci.yml
Due: none

Fix publish target format
  .github/workflows/ci.yml
Due: none

Use actor namespace for GitHub Container Registry
  .github/workflows/ci.yml
Due: none

Add explicit packages write permission to publish job
  .github/workflows/ci.yml
Due: none

Standardize provider structure and fix linting issues
  .gitmodules
  internal/clients/signoz.go
Due: go-generate

Update dependencies and standardize build configuration
  .github/workflows/ci.yml
  Makefile
  cmd/provider/main.go
  go.mod
  go.sum
  package/crds/alert.signoz.crossplane.io_alerts.yaml
  package/crds/channel.signoz.crossplane.io_notificationchannels.yaml
  package/crds/dashboard.signoz.crossplane.io_dashboards.yaml
  package/crds/signoz.crossplane.io_providerconfigs.yaml
  package/crds/signoz.crossplane.io_providerconfigusages.yaml
Due: go-mod-tidy, go-generate

Standardize PROJECT_REPO to rossigee organization
  Makefile
Due: none

Add comprehensive security scanning workflow
  .github/workflows/security.yml
Due: none

Update Go dependencies after standardization
  go.mod
  go.sum
Due: go-mod-tidy

Fix build system: update module name to rossigee org and Go version to 1.24
  apis/apis.go
  cmd/provider/main.go
  go.mod
  internal/clients/signoz.go
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/channel/channel_test.go
  internal/controller/dashboard/dashboard.go
  internal/controller/dashboard/dashboard_test.go
Due: go-mod-tidy, go-generate

add: VERSION file matching latest tag v0.2.0
  VERSION
Due: none

Fix Delete method signatures for Crossplane runtime compatibility
  go.mod
  go.sum
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
Due: go-mod-tidy, go-generate

Revert build submodule to upstream crossplane/build
  .gitmodules
Due: none

Clean up Go dependencies after angryjet removal
  go.mod
  go.sum
Due: go-mod-tidy

Fix image push problems. Bump versions.
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitmodules
  Makefile
  cmd/provider/main.go
  go.mod
Due: go-mod-tidy, go-generate

Fix CI build failure: remove invalid make docker.build target
  .github/workflows/ci.yml
Due: none

Update Go to 1.25.7, crossplane-runtime to v2.2.0-rc.0, structured-merge-diff to v6, add alert tests, fix ClientApplicator compatibility, update golangci-lint to v2.8.0, update workflows and configs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Makefile
  go.mod
  go.sum
  internal/clients/signoz.go
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
  internal/controller/channel/channel.go
Due: go-mod-tidy, go-generate

ignore vendor directory to prevent dirty builds
  .gitignore
Due: none

set CROSSPLANE_CLI_VERSION to 1.14.0 for --controller support
  Makefile
Due: none

set CROSSPLANE_CLI_VERSION to latest for crossplane CLI 2.1
  Makefile
Due: none

set CROSSPLANE_CLI_VERSION to v2.1.0
  Makefile
Due: none

set CROSSPLANE_CLI_VERSION to 1.15.0
  Makefile
Due: none

add Docker image tag step to fix xpkg build
  .github/workflows/ci.yml
Due: none

fix: use github.token instead of PAT_TOKEN for GHCR authentication
  .github/workflows/release.yml
Due: none

Path conditions:
  go-mod-tidy: any of: go\.(mod|sum)$
  go-generate: any of: \.go$
