Repository rossigee/provider-signoz: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

go-mod-tidy:
  name: Go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-generate:
  name: Go generate
  entry: make generate
  language: system
  pass_filenames: false

fix(dashboard): satisfy staticcheck S1008 in isDashboardV2UpToDate
  internal/controller/dashboard/dashboard.go
Due: go-generate

chore: bump version to v0.4.9 (v0.4.8 failed CI linting, never released)
  VERSION
Due: none

feat(alert): support SigNoz v5 multi-level thresholds and logs/traces aggregation
  VERSION
  apis/alert/v1beta1/types.go
  apis/alert/v1beta1/zz_generated.deepcopy.go
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
  package/crds/alert.signoz.m.crossplane.io_alerts.yaml
Due: go-generate

fix(alert): send the required evaluation/schemaVersion/notificationSettings block
  VERSION
  internal/clients/signoz.go
  internal/clients/signoz_test.go
  internal/controller/alert/alert.go
Due: go-generate

fix(alert): translate LOG_BASED_ALERT to LOGS_BASED_ALERT on the wire
  VERSION
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
Due: go-generate

fix(alert): regression - only send evaluation block for Thresholds alerts
  VERSION
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
Due: go-generate

chore: Go 1.26.6, update deps, add golangci-lint config, gofmt
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .golangci.yml
  apis/alert/v1beta1/groupversion_info.go
  apis/channel/v1beta1/groupversion_info.go
  apis/channel/v1beta1/types.go
  apis/dashboard/v1beta1/groupversion_info.go
  apis/dashboard/v1beta1/types.go
  apis/v1beta1/groupversion_info.go
  cmd/provider/main.go
  go.mod
  go.sum
  internal/breaker/breaker_test.go
  internal/clients/backoff.go
  internal/controller/controller.go
  internal/controller/dashboard/dashboard.go
  internal/controller/providerconfig/providerconfig.go
Due: go-mod-tidy, go-generate

chore: Go 1.26.6, update deps, gofmt
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Makefile
  apis/generate.go
  go.mod
  internal/clients/signoz_test.go
  internal/controller/alert/alert_test.go
  internal/controller/channel/channel_test.go
  internal/controller/dashboard/dashboard_test.go
  internal/tracing/tracing.go
Due: go-mod-tidy, go-generate

Migrate release workflow from ncipollo/release-action@v1 to softprops/action-gh-release@v2
  .github/workflows/release.yml
Due: none

Bump version to v0.4.0
  internal/version/version.go
Due: go-generate

chore: pin crossplane-runtime and crossplane/apis to rossigee fork branches
  go.mod
  go.sum
Due: go-mod-tidy

ci: add auto-merge workflow for dependabot PRs (minor/patch + actions/docker)
  .github/workflows/auto-merge.yml
Due: none

docs: document native implementation without Terraform dependencies
  README.md
Due: none

fix(release): ensure GitHub release title includes version (add tag_name, fix version output)
  .github/workflows/release.yml
Due: none

fix(release): use provider-specific GitHub release title
  .github/workflows/release.yml
Due: none

chore: remove local CLI version override, inherit from build submodule (v2.5.0)
  Makefile
Due: none

chore: bump to v0.4.14
  VERSION
Due: none

feat(metrics): wire statemetrics MRStateMetrics for Ready/Synced counts
  apis/alert/v1beta1/zz_generated.managedlist.go
  apis/channel/v1beta1/zz_generated.managedlist.go
  apis/dashboard/v1beta1/zz_generated.managedlist.go
  cmd/provider/main.go
Due: go-generate

style: gofmt main.go
  cmd/provider/main.go
Due: go-generate

chore: bump Go to 1.27.0, golangci-lint to 2.13.1, go get -u && go mod tidy
  .github/workflows/ci.yml
  .github/workflows/security.yml
  Makefile
  go.mod
  go.sum
Due: go-mod-tidy

chore: bump Go to 1.27.0 in release workflows
  .github/workflows/release.yml
Due: none

fix: resolve lint and test failures after Go 1.27 toolchain bump
  internal/tracing/tracing.go
Due: go-generate

fix: vendor code generation tools for CI
  go.mod
  go.sum
  hack/tools.go
Due: go-mod-tidy, go-generate

fix(ci): bump deprecated actions, remove non-existent docker.build
  .github/workflows/ci.yml
Due: none

refactor: use descriptive query type enumerations
  README.md
  apis/alert/v1beta1/types.go
  apis/dashboard/v1beta1/types.go
  examples/alert/high-error-rate.yaml
  examples/alert/high-latency.yaml
  examples/alert/log-based-alert.yaml
  examples/complete-setup.yaml
  examples/dashboard/advanced-dashboard.yaml
  examples/dashboard/simple-dashboard.yaml
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
  internal/controller/dashboard/dashboard.go
  internal/controller/dashboard/dashboard_test.go
Due: go-generate

chore: regenerate CRDs with updated queryType enumerations
  package/crds/alert.signoz.m.crossplane.io_alerts.yaml
  package/crds/dashboard.signoz.m.crossplane.io_dashboards.yaml
Due: none

fix: sync dashboard title and description via PUT after creation
  internal/controller/dashboard/dashboard.go
Due: go-generate

feat: load CA certificate from mounted secret for TLS verification
  internal/clients/signoz.go
Due: go-generate

chore(workflows): upgrade GitHub actions to latest Node.js 24+ compatible versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

chore: update go.sum for crossplane-runtime v2.5.0
  go.sum
Due: go-mod-tidy

chore: bump crossplane-runtime to v2.5.0
  go.mod
Due: go-mod-tidy

chore: upgrade Go to 1.27.1 and golangci-lint to v2.13.2
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Makefile
  go.mod
Due: go-mod-tidy

chore: standardize pre-commit to v6.0.0 / Go 1.27.1 tooling
  .pre-commit-config.yaml
  .yamllint.yaml
Due: none

chore: upgrade auto-merge workflow to use github-script v9
  .github/workflows/auto-merge.yml
Due: none

fix: clean two-job release workflow with v2.5.0 go install from fork
  .github/workflows/release.yml
Due: none

fix: embed package.yaml in provider image
  cluster/images/provider-signoz/Dockerfile
  cluster/images/provider-signoz/Makefile
Due: none

fix: install Crossplane CLI via download instead of broken go install
  .github/workflows/release.yml
Due: none

fix: build Go binary before staging Docker context
  cluster/images/provider-signoz/Makefile
Due: none

Path conditions:
  go-mod-tidy: any of: go\.(mod|sum)$
  go-generate: any of: \.go$
