Repository rossigee/provider-signoz: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: ['--timeout=10m']

  - repo: local
    hooks:
      - id: check-binaries
        name: Check for binary files
        entry: bash -c 'find . -type f -executable -exec file {} \; | grep -E "ELF|executable|binary" | grep -v "\.git" && exit 1 || exit 0'
        language: system
        pass_filenames: false
      
      - id: go-mod-tidy
        name: Go mod tidy
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-generate
        name: Go generate
        entry: make generate
        language: system
        files: '\.go$'
        pass_filenames: false

Sync with parent repo changes
  AGENTS.ms
  Makefile
  README.md
  apis/alert/v1beta1/doc.go
  apis/alert/v1beta1/types.go
  apis/alert/v1beta1/zz_generated.deepcopy.go
  apis/alert/v1beta1/zz_generated.managed.go
  apis/channel/v1beta1/doc.go
  apis/channel/v1beta1/types.go
  apis/channel/v1beta1/zz_generated.deepcopy.go
  apis/channel/v1beta1/zz_generated.managed.go
  apis/dashboard/v1beta1/doc.go
  apis/dashboard/v1beta1/types.go
  apis/dashboard/v1beta1/zz_generated.deepcopy.go
  apis/dashboard/v1beta1/zz_generated.managed.go
  apis/v1beta1/register.go
  apis/v1beta1/types.go
  apis/v1beta1/zz_generated.deepcopy.go
  docs/README.md
  go.mod
  go.sum
  internal/clients/signoz.go
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
Due: go-mod-tidy, go-generate

docs: Standardize README to compliance format
  README.md
Due: none

chore: Standardize package metadata to rossigee
  package/crossplane.yaml
Due: none

chore: Update CI/CD tools to latest stable versions
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix: correct final corrupted fkirc action versions
  .github/workflows/ci.yml
Due: none

deps: upgrade crossplane-runtime to v2.3.2
  go.mod
Due: go-mod-tidy

chore: update workflows - standardize Go 1.26.4, github.token auth, ubuntu-24.04, merge codeql to security
  .github/backup/ci.yml
  .github/backup/release.yml
  .github/backup/security.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  scripts/check.sh
  scripts/introspect.sh
  scripts/release.sh
Due: none

chore: pin golangci-lint to 2.12.2
  .github/workflows/ci.yml
Due: none

chore: standardize release workflow to unified publish pattern
  .github/workflows/release.yml
Due: none

fix: update golang.org/x/net to v0.55.0 to patch idna.ToASCII vulnerability
  go.mod
  go.sum
Due: go-mod-tidy

fix: update codeql-action to v4
  .github/workflows/security.yml
Due: none

chore: regenerate code
  apis/alert/v1beta1/zz_generated.deepcopy.go
  apis/channel/v1beta1/zz_generated.deepcopy.go
  apis/v1beta1/zz_generated.deepcopy.go
  package/crds/alert.signoz.m.crossplane.io_alerts.yaml
  package/crds/channel.signoz.m.crossplane.io_notificationchannels.yaml
  package/crds/dashboard.signoz.m.crossplane.io_dashboards.yaml
  package/crds/signoz.m.crossplane.io_providerconfigs.yaml
  package/crds/signoz.m.crossplane.io_providerconfigusages.yaml
Due: go-generate

Update Crossplane components to v2.3.1
  Makefile
  go.mod
  go.sum
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
Due: go-mod-tidy, go-generate

fix: install crossplane-cli for xpkg build
  .github/workflows/release.yml
Due: none

fix: init build submodule before installing tools
  .github/workflows/release.yml
Due: none

chore: use rossigee/build with v2.3.2 crossplane CLI
  .gitmodules
Due: none

fix: use simpler release workflow pattern
  .github/workflows/release.yml
  cluster/images/provider-signoz/Dockerfile
Due: none

fix: skip lint failure for release
  .github/workflows/release.yml
Due: none

fix: add nolint for deprecated GetEventRecorderFor (SA1019)
  .github/workflows/release.yml
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
Due: go-generate

fix: add missing closing paren for nolint
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
Due: go-generate

fix: use Client.Get() instead of c.Get() for ProviderConfig lookup
  internal/clients/signoz.go
Due: go-generate

fix: use Client.Get() for all ProviderConfig lookups across controllers
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
Due: go-generate

chore: migrate EventRecorder + fix lint, tests, logging
  go.mod
  go.sum
  internal/clients/signoz.go
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
Due: go-mod-tidy, go-generate

feat: add OpenTelemetry OTLP tracing support
  cmd/provider/main.go
  go.mod
  go.sum
  internal/tracing/tracing.go
Due: go-mod-tidy, go-generate

Add OTLP tracing support
  cmd/provider/main.go
  go.mod
  go.sum
  internal/tracing/tracing.go
Due: go-mod-tidy, go-generate

fix: lint passes after v2 migration (tracing, scheme, imports); clean .cache from git
  apis/alert/v1beta1/doc.go
  apis/alert/v1beta1/register.go
  apis/alert/v1beta1/types.go
  apis/alert/v1beta1/zz_generated.deepcopy.go
  apis/alert/v1beta1/zz_generated.managed.go
  apis/apis.go
  apis/channel/v1beta1/doc.go
  apis/channel/v1beta1/register.go
  apis/channel/v1beta1/types.go
  apis/channel/v1beta1/zz_generated.deepcopy.go
  apis/channel/v1beta1/zz_generated.managed.go
  apis/dashboard/v1beta1/doc.go
  apis/dashboard/v1beta1/register.go
  apis/dashboard/v1beta1/types.go
  apis/dashboard/v1beta1/zz_generated.deepcopy.go
  apis/dashboard/v1beta1/zz_generated.managed.go
  apis/generate.go
  apis/v1beta1/doc.go
  apis/v1beta1/register.go
  apis/v1beta1/types.go
  apis/v1beta1/zz_generated.deepcopy.go
  cmd/provider/main.go
  internal/clients/signoz.go
  internal/clients/signoz_test.go
  internal/controller/alert/alert.go
  internal/controller/alert/alert_test.go
  internal/controller/channel/channel.go
  internal/controller/channel/channel_test.go
  internal/controller/dashboard/dashboard.go
  internal/controller/dashboard/dashboard_test.go
  internal/tracing/tracing.go
  internal/version/version.go
Due: go-generate

Fix lint: add Group/Version constants, register GroupVersion in init, v2 migration
  apis/alert/v1beta1/doc.go
  apis/alert/v1beta1/groupversion_info.go
  apis/alert/v1beta1/register.go
  apis/alert/v1beta1/types.go
  apis/alert/v1beta1/zz_generated.deepcopy.go
  apis/alert/v1beta1/zz_generated.managed.go
  apis/apis.go
  apis/channel/v1beta1/doc.go
  apis/channel/v1beta1/groupversion_info.go
  apis/channel/v1beta1/register.go
  apis/channel/v1beta1/types.go
  apis/channel/v1beta1/zz_generated.deepcopy.go
  apis/channel/v1beta1/zz_generated.managed.go
  apis/dashboard/v1beta1/doc.go
  apis/dashboard/v1beta1/groupversion_info.go
  apis/dashboard/v1beta1/types.go
  apis/dashboard/v1beta1/zz_generated.managed.go
  apis/v1beta1/groupversion_info.go
  apis/v1beta1/register.go
  apis/v1beta1/types.go
  cmd/provider/main.go
  internal/clients/signoz.go
  internal/controller/alert/alert.go
  internal/controller/channel/channel.go
  internal/controller/dashboard/dashboard.go
Due: go-generate

Sync CRDs and deepcopy: make reviewable output
  apis/alert/v1beta1/zz_generated.deepcopy.go
  apis/channel/v1beta1/zz_generated.deepcopy.go
  package/crds/alert.signoz.m.crossplane.io_alerts.yaml
  package/crds/channel.signoz.m.crossplane.io_notificationchannels.yaml
  package/crds/dashboard.signoz.m.crossplane.io_dashboards.yaml
  package/crds/signoz.m.crossplane.io_providerconfigs.yaml
  package/crds/signoz.m.crossplane.io_providerconfigusages.yaml
Due: go-generate

build: upgrade Go to 1.26.5, add govulncheck to reviewable
  .github/workflows/ci.yml
  .github/workflows/security.yml
  go.mod
  go.sum
Due: go-mod-tidy

build: update build submodule to rossigee-lint-fixes - Adds govulncheck to reviewable target - Adds go mod vendor step before go generate - Ensures clean go generate runs with consistent vendor state
  .gitmodules
  go.mod
  go.sum
Due: go-mod-tidy

Add Dependabot dependency management with severity-based auto-merge
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
Due: none

build: fix nil tracer panic in tests by initializing with no-op otel.Tracer("")
  internal/tracing/tracing.go
Due: go-generate

build: fix govulncheck to handle unfixable vulns and prevent go.mod changes
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

build: fix GOWORK to be a file path for govulncheck
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none
